node_modules/
.idea/
.vscode/
.DS_Store

# Android Build Artifacts
android/app/build/
android/.gradle/
/.gradle-user-home/
android/local.properties
android/captures/
android/*.iml

# PWA Build (Only if using a separate src/ folder, but here www/ is the source)
# www/ 

# Misc
*.jks
*.patch
*.bak
*.txt
